body {
  width: 80%;
  margin: 0; padding: 0;
  display: flex;
  flex-basis: 100%;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 75%;
  background: #FDFDFC;
}

h1 {
  font-family: "Arial Black", Gadget, sans-serif;
  color: #25CED8;
  font: 30px sans-serif;
  font-weight: bold;
  text-align: left;
  letter-spacing: 3px;
  margin-left: 60px;
  /* text-shadow: 1px 1px #50b6bb; */
}

svg {
  flex-basis: 100%;
  min-width: 200px;
}

.chart {
  background-color: #FDFDFC;
}

.axis {
  fill: none;
}

.axis path {
  stroke: none;
}

.axis line {
  stroke: Gray;
  /* opacity: 0.5; */
}

.axis text {
  font-family: "Arial Black", Gadget, sans-serif;
  fill: #293462;
}


.grid-container {
  display: grid;
  grid-template-areas:
    "header searchbar smallchart"
    "content content smallchart"
    "content content smallchart"
    "sidebar sidebar smallchart";
}

.grid-element.header {
  background-color: #FDFDFC;
  grid-area: header;
  padding: 50;
}
.grid-element.content {
  background-color: #FDFDFC;
  grid-area: content;
  display: flex;
}
.grid-element.sidebar {
  text-align: center;
  background-color: none;
  grid-area: sidebar;
}

.grid-element.smallchart {
  background-color: #FDFDFC;
  grid-area: smallchart;
  display: flex;
  margin-bottom: 30px;
}

.grid-element.searchbar {
  background-color: #FDFDFC;
  grid-area: searchbar;
  display: flex;
}

.controls {
  /* display: inline-flex; */
  display: flex;
  padding: 0 5px;
}

.dropdown {
	padding: 0 50px;
}

.dropdown select{
	width: fill;
  height: 150px;
}

.searchbar {
	font-size: 14px;
	height: 30px;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  width: 300px;
  margin-top: 10px;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}

.autocomplete-items {
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
